<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form action="/register" method="POST">
                <h1>Tแบกo Tรi Khoแบฃn</h1>
                <div class="social-icons">
                    <a href="/login/gg" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="/login/fb" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                </div>
                <span>Tแบกo tรi khoแบฃn vแปi tรชn vร mแบญt khแบฉu</span>
                <input type="text" placeholder="Tรชn tรi khoแบฃn" id="name" name="username" required>
                <input type="password" placeholder="Mแบญt khแบฉu" id="pass" name="password" required>
                <button type="submit">ฤฤng kรญ</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form action="/login" method="POST">
                <h1>ฤฤng Nhแบญp</h1>
                <div class="social-icons">
                    <a href="/login/gg" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="/login/fb" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                </div>
                <span>ฤฤng nhแบญp bแบฑng tรชn tรi khoแบฃn</span>
                <input type="text" placeholder="Tรชn tรi khoแบฃn" id="name" name="username" required>
                <input type="password" placeholder="Mแบญt khแบฉu" id="pass" name="password" required>
                <a id="forgot" href="/login/forgetpassword">Quรชn mแบญt khแบฉu?</a>

                <button>ฤฤng Nhแบญp</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>ฤรฃ cรณ tรi khoแบฃn?</h1>
                    <p>Quay lแบกi vแปi trแบฃi nghiแปm khรดng giแปi hแบกn cแปงa trang๐</p>
                    <button class="hidden" id="login">ฤฤng Nhแบญp</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Chฦฐa cรณ tรi khoแบฃn?</h1>
                    <p>ฤฤng kรญ ฤแป trแบฃi nghiแปm tแบฅt cแบฃ tรญnh nฤng cแปงa trang๐</p>
                    <button class="hidden" id="register">ฤฤng Kรญ</button>
                </div>
            </div>
        </div>
    </div>


</body>

</html>