<div id="container">
  <form action="/login/forgetpassword" method="POST">
    <h1>Sử dụng email bạn đã đăng kí để lấy lại mật khẩu</h1>
    <div id="line" title="Nhập email để lấy lại mật khẩu">
      <input type="text" placeholder="Email" id="email" name="email" required />
      <button>Send</button></div>
  </form>
</div>