<div id="container">
<form action="/login/forgetpassword" method="POST">
  <h1>Use your email to reset password</h1>
  <div id="line">
  <input type="text" placeholder="Email" id="email" name="email" required />
  <button>Send</button></div>
</form>
</div>