<div class="container">
  <div class="btn"><a href="" id="testH">Holland</a></div>
  <div class="btn"><a href="" id="testM">Mbti</a></div>
</div>

<div id="test-container">
</div>

<template id="data-container" data-test="{{tests}}"></template>