<div class="container">
  <div class="btn"><a
      href=""
      id="testH"
      title="Kết quả trắc nghiệm Holland"
    >Holland</a></div>
  <div class="btn"><a
      href=""
      id="testM"
      title="Kết quả trắc nghiệm Mbti"
    >Mbti</a></div>
</div>

<div id="test-container">
</div>

<template id="data-container" data-test="{{tests}}"></template>