<div class="quote-container" id="quotecontainer">
  <div class="closequote">
    <img src="/img/tool_imgs/close.png" alt="" id="closequote" />
    <div class="background hidden" id="quotebackground"></div>
  </div>
  <div class="quote">
    <q><i id="quote"></i></q>
  </div>
</div>

<div class="body hidden"></div>
<script src="https://cdn.jsdelivr.net/npm/intro.js@7.2.0/intro.min.js"></script>
<template id="data-container" data-quote="{{quotes}}"></template>