<div class="alert hide">
  <span class="fas fa-exclamation-circle"></span>
  <span class="msg">Hãy chọn câu trả lời để có thể chuyển qua câu hỏi kế tiếp!</span>
  <div class="close-btn">
    <span class="fas fa-times"></span>
  </div>
</div>

<div id="setting" onclick="openset()">
  <img src="/img/tool_imgs/setting.png" />
</div>

<div id="setting2">
  <h2>Setting</h2>
  <div id="in-setting2">
  <div class="line">
    <img src="/img/tool_imgs/theme.png" />
    <h3>Theme</h3>
    <div class="mode-container">
      <input type="checkbox" id="dark-mode" />
      <label for="dark-mode" id="mode"></label>
    </div>
  </div>
  <div class="line">
    <img src="/img/tool_imgs/auto.png" />
    <h3>Auto next</h3>
    <div class="auto-container">
      <input type="checkbox" id="auto-mode" />
      <label for="auto-mode" id="auto"></label>
    </div>
  </div>
  <div class="line">
    <img src="/img/tool_imgs/video-lesson.png" />
    <h3>Tutorial</h3>
    <div id="contai-intro">
    <img src="/img/tool_imgs/info.png" id="intro" />
    </div>
  </div>
  </div>
</div>

<img id="main-pic" src="/img/others_imgs/bg.jpg" alt="" />

<div id="choose" class="introduction">
  <h2>Choose the test</h2>
  <div id="butchose">
    <button id="holland" class="step-one">
      <h3>Holand</h3>
    </button>
    <button id="mbti" class="step-two">
      <h3>MBTI</h3>
    </button>
  </div>
</div>
<div id="test-container">
</div>
<script src="https://cdn.jsdelivr.net/npm/intro.js@7.2.0/intro.min.js"></script>