<div class="alert hide">
  <span class="fas fa-exclamation-circle"></span>
  <span class="msg">Hãy chọn câu trả lời để có thể chuyển qua câu hỏi kế tiếp!</span>
  <div class="close-btn">
    <span class="fas fa-times"></span>
  </div>
</div>
<div id="main-pic"></div>

<div id="choose" class="introduction">
  <h2>Chọn bài trắc nghiệm</h2>
  <div id="butchose">
    <button id="holland" class="step-one">
      <h3>Holand</h3>
    </button>
    <button id="mbti" class="step-two">
      <h3>MBTI</h3>
    </button>
  </div>
</div>
<div id="test-container">
</div>
<script src="https://cdn.jsdelivr.net/npm/intro.js@7.2.0/intro.min.js"></script>