<div id="search-page">
  <div id="main-contai">
    <div id="sidebar">
      <div
        id="contai-search"
        class="step-one-University"
        title="Tìm kiếm trường đại học"
      >
        <img
          src="/img/tool_imgs/search2.png"
          class="searchimg"
          onclick="openpop()"
        />
        <input type="text" placeholder="Tìm kiếm..." id="search-in" />
      </div>
      <div id="contai-list-sch" class="step-two-University">
        <div id="list-sch">
        </div>
      </div>
    </div>
    <div id="mainbar" class="step-three-University">
      <div id="school-detail">
        <div id="error-page" class="hide">
          <div class="content">
            <h2 class="header" data-text="404">
              404
            </h2>
            <h4>
              Không có kết quả cho đại học mà bạn đang tìm kiếm
            </h4>
            <p>
              Xin lỗi, đại học mà bạn đang tìm kiếm không có kết quả. Nếu bạn
              nghĩ đây là một vấn đề thì hãy đóng góp ý kiến cho chúng tôi để có
              thể khắc phục nhanh nhất có thể!
            </p>
            <div class="btns">
              <a href="/university" id="restart-search">Cài lại tìm kiếm</a>
            </div>
          </div>
        </div>
        <iframe id="iframedetail" src="" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>

<div id="pop-search" class="hide">
  <div id="pop-contai-search">
    <img src="/img/tool_imgs/search2.png" class="searchimg" />
  </div>
</div>

<template id="data-container" data-university="{{universities}}"></template>
<script src="https://cdn.jsdelivr.net/npm/intro.js@7.2.0/intro.min.js"></script>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>