<img id="main-pic" src="/img/others_imgs/bg.jpg" />

<div id="search-area">
  <div id="contai-search">
    <img src="/img/tool_imgs/search.png" id="search-img" />
    <input type="search" id="search-in" />
    <select name="location" id="location">
      <option value="all">All location</option>
      <option value="hcm">Tp.Hồ Chí Minh</option>
    </select>
    <button id="search">
      <h4>search</h4>
    </button>
  </div>
  <div id="filter-list">
    <select name="holand" id="holand" class="filter">
      <option value="holands">holand</option>
      <option value="hcm">Kỹ Thuật</option>
      <option value="hcm">Nghiên Cứu</option>
      <option value="hcm">Nghệ Thuật</option>
      <option value="hcm">Xã Hội</option>
      <option value="hcm">Quản Lý</option>
      <option value="hcm">Nghiệp vụ</option>
    </select>
  </div>
</div>
<div id="error-page" class="hide">
  <div class="content">
    <h2 class="header" data-text="404">
      404
    </h2>
    <h4>
      Opps! College not found
    </h4>
    <p>
      Sorry, the college you're looking for doesn't exist. If you think
      something is broken, report a problem.
    </p>
    <div class="btns">
      <a href="/university" id="restart-search">Restart Search</a>
    </div>
  </div>
</div>
<div id="list-sch">
</div>
<template id="data-container" data-university="{{universities}}"></template>
<script src="https://cdn.jsdelivr.net/npm/intro.js@7.2.0/intro.min.js"></script>