<img id="main-pic" src="/img/others_imgs/bg.jpg" />
<div id="blur"></div>
<div id="sidebar">
  <div id="contai-search">
    <img src="/img/tool_imgs/search.png" id="search-img" />
    <input type="text" placeholder="Search" id="search-in" />
  </div>
  <div id="list-sch">
  </div>
</div>
<div id="school-detail">

</div>
<div id="error-page" class="hide">
  <div class="content">
    <h2 class="header" data-text="404">
      404
    </h2>
    <h4>
      Opps! College not found
    </h4>
    <p>
      Sorry, the college you're looking for doesn't exist. If you think
      something is broken, report a problem.
    </p>
    <div class="btns">
      <a href="/university" id="restart-search">Restart Search</a>
    </div>
  </div>
</div>

<template id="data-container" data-university="{{universities}}"></template>
<script src="https://cdn.jsdelivr.net/npm/intro.js@7.2.0/intro.min.js"></script>