<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="/img/logoweb_imgs/favicon4.png"
      sizes="64x64"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/intro.js@7.2.0/minified/introjs.min.css"
      rel="stylesheet"
    />
    <link
      href="ttps://cdn.jsdelivr.net/npm/intro.js@7.2.0/themes/introjs-modern.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/{{style}}" id="theme-link" />
    <title>Be Yourself</title>
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="/{{function1}}"></script>
  <script src="/{{function2}}"></script>
</html>