<div id="footer">
  <div id="footer-logo">
    <img src="/img/logoweb_imgs/logo(1).png" alt="" />
  </div>
  <div id="footer-ifo">
    <div class="footer-col">
      <h4>About</h4>
      <ul>
        <li>dfsf</li>
        <li>fdsf</li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>About</h4>
      <ul>
        <li>dfsf</li>
        <li>fdsf</li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>About</h4>
      <ul>
        <li>dfsf</li>
        <li>fdsf</li>
      </ul>
    </div>
  </div>
</div>

