<div id="footer">
  <div id="footer-logo">
    <img src="/img/logoweb_imgs/logo(1).png" alt="" />
  </div>
  <div id="footer-ifo">
    <div class="upcontent">
      <div class="footer-col">
        <h4>Về chúng tôi</h4>
        <ul>
          <li><a
              href="https://www.facebook.com/ITsFuture.TKN"
              target="_blank"
              title="Fanpage"
            >Fanpage</a></li>
          <li><a
              href="http://localhost:5500"
              title="Về chúng tôi"
            >About</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Sản phẩm</h4>
        <ul>
          <li><a
              href="https://welcome-hs10.onrender.com"
              target="_blank"
              title="Website tạo thiệp"
            >Website tạo thiệp</a></li>
          <li><a
              href="https://freeframeadd.000webhostapp.com/"
              target="_blank"
              title="Website gắn khung avatar"
            >Website gắn khung avatar</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Liên hệ</h4>
        <ul>
          <li><a
              href="https://www.facebook.com/phan.k.trung.315"
              target="_blank"
              title="Admin Frontend"
            >Admin Frontend</a></li>
          <li><a
              href="https://www.facebook.com/profile.php?id=100076253694880"
              target="_blank"
              title="Admin Backend"
            >Admin Backend</a></li>
        </ul>
      </div>
    </div>
    <div class="extra-info">
      <div class="contact">
        <p>Email: beyourselfeducationplatform@gmail.com</p>
        <p>Địa chỉ: 225 Nguyễn Tri Phương, phường 9, quận 5, TP Hồ Chí Minh</p>
      </div>
      <div class="quote">
        <p class="quoteContent"></p>
        <p class="quoteAuthor"></p>
      </div>

    </div>
  </div>
</div>

<template id="data-container-quote" data-quote="{{quotes}}"></template>

<script>
  var quotes = document.getElementById("data-container-quote"); var quotesData =
  JSON.parse(quotes.getAttribute("data-quote")); var randomIndex =
  Math.floor(Math.random() * quotesData.length); var randomQuote =
  quotesData[randomIndex]; var pEle = document.querySelector(".quoteContent");
  var quoteAuthor = document.querySelector(".quoteAuthor"); if (randomQuote &&
  pEle && quoteAuthor) { pEle.textContent = randomQuote.quote;
  quoteAuthor.textContent = randomQuote.author; }
</script>