<div id="navbar">
  <div id="name">
    <div class="name-container" id="step-two">
      <img src="/img/logoweb_imgs/logo(1).png" />
      <h1>Be Yourself</h1>
    </div>
  </div>
  <nav>
    <button id="step-three">
      <a href="/" target="_self">
        <img src="/img/navbar_imgs/black_imgs/home_black.png" id="home1" />
        <h3>Home</h3>
      </a>
    </button>
    <button id="step-four">
      <a href="/test" target="_self">
        <img src="/img/navbar_imgs/black_imgs/test_black.png" id="test1" />
        <h3>Test</h3>
      </a>
    </button>
    <button id="step-five">
      <a href="/university" target="_self">
        <img
          src="/img/navbar_imgs/black_imgs/university_black.png"
          id="university1"
        />
        <h3>University</h3>
      </a>
    </button>
    <button id="step-six">
      <a href="/story" target="_self">
        <img src="/img/navbar_imgs/black_imgs/story_black.png" id="story1" />
        <h3>Story</h3>
      </a>
    </button>
    {{#if username}}
      <span>Welcome! {{username}}</span>
      {{#if userimg}}
        <img src="{{userimg}}" height="100px" width="100px" />
      {{else}}
        <img
          src="https://scontent.fsgn5-15.fna.fbcdn.net/v/t1.30497-1/143086968_2856368904622192_1959732218791162458_n.png?_nc_cat=1&ccb=1-7&_nc_sid=136b72&_nc_eui2=AeFDln0uGNr2ftT3JD4lMqVlso2H55p0AlGyjYfnmnQCUTFM01ydBlQovol_D0_d_Xx0OSHzHWGhFRGAnH-ibHvh&_nc_ohc=ajY79JSPPYMQ7kNvgFBSqJA&_nc_ht=scontent.fsgn5-15.fna&oh=00_AYCrj_D6rIhxkOnzVsZISaJBl7EXsTPj8H9bCBd5KO75LQ&oe=66A34878"
          width="100px"
          height="100px"
        />
      {{/if}}
      <button><a href="/logout">Logout</a></button>
    {{else}}
      <button><a href="/createaccount"><h3>Create Account</h3></a></button>
    {{/if}}
  </nav>
</div>
<div id="extend-navbar">
  <button id="step-three">
    <a href="/" target="_self">
      <img src="/img/navbar_imgs/black_imgs/home_black.png" id="home1" />
      <h3>Home</h3>
    </a>
  </button>
  <button id="step-four">
    <a href="/test" target="_self">
      <img src="/img/navbar_imgs/black_imgs/test_black.png" id="test1" />
      <h3>Test</h3>
    </a>
  </button>
  <button id="step-five">
    <a href="/university" target="_self">
      <img
        src="/img/navbar_imgs/black_imgs/university_black.png"
        id="university1"
      />
      <h3>University</h3>
    </a>
  </button>
  <button id="step-six">
    <a href="/story" target="_self">
      <img src="/img/navbar_imgs/black_imgs/story_black.png" id="story1" />
      <h3>Story</h3>
    </a>
  </button>
</div>
<i class="fa-solid fa-equals"></i>
<i class="fa-solid fa-x"></i>