<div id="navbar">
  <div id="name">
    <div class="name-container" id="step-two">
      <img src="/img/logoweb_imgs/logo(1).png"/>
      <h1>Be Yourself</h1>
    </div>
  </div>
  <nav>
    <button id="step-three">
      <a href="/" target="_self">
        <img src="/img/navbar_imgs/black_imgs/home_black.png" id="home1" />
        <h3>Home</h3>
      </a>
    </button>
    <button id="step-four">
      <a href="/test" target="_self">
        <img src="/img/navbar_imgs/black_imgs/test_black.png" id="test1" />
        <h3>Test</h3>
      </a>
    </button>
    <button id="step-five">
      <a href="/university" target="_self">
        <img
          src="/img/navbar_imgs/black_imgs/university_black.png"
          id="university1"
        />
        <h3>University</h3>
      </a>
    </button>
    <button id="step-six">
      <a href="/story" target="_self">
        <img src="/img/navbar_imgs/black_imgs/story_black.png" id="story1" />
        <h3>Story</h3>
      </a>
    </button>
  </nav>
</div>
<div id="extend-navbar">
  <button id="step-three">
      <a href="/" target="_self">
        <img src="/img/navbar_imgs/black_imgs/home_black.png" id="home1" />
        <h3>Home</h3>
      </a>
    </button>
    <button id="step-four">
      <a href="/test" target="_self">
        <img src="/img/navbar_imgs/black_imgs/test_black.png" id="test1" />
        <h3>Test</h3>
      </a>
    </button>
    <button id="step-five">
      <a href="/university" target="_self">
        <img
          src="/img/navbar_imgs/black_imgs/university_black.png"
          id="university1"
        />
        <h3>University</h3>
      </a>
    </button>
    <button id="step-six">
      <a href="/story" target="_self">
        <img src="/img/navbar_imgs/black_imgs/story_black.png" id="story1" />
        <h3>Story</h3>
      </a>
    </button>
</div>
<i class="fa-solid fa-equals"></i>
<i class="fa-solid fa-x"></i>
