.full-navbar {
  width: 100vw;
  height: auto;
}

#navbar {
  user-select: none;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  background-color: #3a3a3a;
}

a img {
  width: 35px;
  height: 35px;
}

nav button {
  appearance: none;
  border: none;
  background: none;
  padding: 12px;
  padding-right: 17px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 2px;
}

#name {
  font-size: 1.1rem;
  cursor: pointer;
  user-select: none;
}

.name-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

#extend-navbar img {
  width: 33px;
  height: 33px;
}

#extend-navbar a {
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
}

#extend-navbar h3 {
  margin-left: 15px;
  font-size: 30px;
  font-family: hywen;
  color: white;
}

nav a {
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
}

nav h3 {
  font-size: 16px;
  margin-top: 15px;
  margin-left: 5px;
  color: white;
}

nav button:hover {
  background-color: rgba(260, 260, 260, 0.6);
}

#extend-navbar button {
  width: 100%;
  border: none;
  background: none;
  padding: 10px;
  font-size: 40px;
  margin: 10px;
  text-align: left;
  z-index: -999;
}

#extend-navbar {
  width: 100vw;
  height: 100vh;
  background-color: white;
  transition: 0.3s ease-out;
  position: absolute;
  padding-top: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 1;
}

#name {
  font-size: 1.1rem;
  cursor: pointer;
  user-select: none;
  top: 0;
  width: fit-content;
}

h1 {
  padding: 6px;
  font-size: 28px;
  margin-right: 15px;
  color: white;
}

h3 {
  padding: 0px;
  font-size: 17px;
  font-weight: 200;
  font-family: hywen;
}

h2 {
  font-size: 30px;
  margin-block-start: unset;
  margin-block-end: unset;
}

#extend-navbar {
  width: 100vw;
  height: 100vh;
  background-color: white;
  transition: 0.3s ease-out;
  position: absolute;
  padding-top: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 1;
}

.out {
  top: -100vh;
}

.appear {
  top: 0vh;
}

#extend-navbar button {
  width: 100%;
  border: none;
  background: none;
  padding: 10px;
  font-size: 40px;
  margin: 10px;
  text-align: left;
  z-index: -999;
}

.hidden {
  display: none;
}

.fa-equals {
  display: none;
  position: absolute;
  right: 10px;
  top: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 3rem;
  text-align: center;
  z-index: 1;
}

.fa-x {
  display: none;
  position: absolute;
  right: 10px;
  top: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 3rem;
  text-align: center;
  z-index: 1;
}

a {
  text-decoration: none;
  color: black;
}

/*General CSS Style*/
* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow-x: hidden;
}

@font-face {
  font-family: hywen;
  src: url("/img/zhcn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*Intro CSS Style*/
#intro {
  bottom: 10px;
  right: 10px;
  position: fixed;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  border: 3px solid black;
  cursor: pointer;
  z-index: 1000;
}

#intro:hover {
  opacity: 0.8;
}

/*Quote CSS Style*/
.quote-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  max-width: 500px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: goldenrod;
  z-index: 1;
  border-radius: 20px;
  padding: 5px;
  flex-direction: column;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 900;
  font-size: 1.3rem;
  word-wrap: break-word;
  margin: 5px;
  padding: 10px;
}

.closequote {
  display: flex;
  justify-content: flex-end;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  background-color: orangered;
  height: 37px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}

.closequote img {
  width: 23px;
  height: 23px;
  margin-right: 4px;
  margin-top: 2px;
  z-index: 2;
}

.quote-container img:hover {
  cursor: pointer;
}

/*Blur Effect For Quote CSS Style*/
.background {
  position: absolute;
  width: 33px;
  height: 33px;
  right: 4px;
  top: 2px;
  border-radius: 50%;
  background-color: #3a3a3a;
  opacity: 0.8;
}

.body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(73, 73, 73);
  opacity: 0.6;
}

/*Setting CSS Style*/
#setting {
  bottom: 10px;
  right: 10px;
  position: fixed;
  width: 30px;
  height: 30px;
  background-color: rgb(250, 250, 250, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 50%;
  cursor: pointer;
  z-index: 100000;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

#setting img {
  height: 30px;
  width: 30px;
}

#setting2 {
  transform: scale(0.5);
  bottom: 50px;
  right: -300px;
  position: fixed;
  width: 300px;
  height: fit-content;
  padding: 5px;
  background-color: rgb(260, 260, 260, 0.2);
  backdrop-filter: blur(40px);
  border-radius: 15px;
  z-index: 100000;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  transition: ease-in-out 0.5s;
}

#setting2.active {
  right: 10px !important;
  transform: scale(1) !important;
}

#setting2 img {
  height: 30px;
  width: 30px;
}

.line {
  display: flex;
  border-radius: 15px;
  padding: 5px;
}

.line:hover {
  background-color: rgb(260, 260, 260, 0.6);
  cursor: pointer;
}

.line h3 {
  padding-top: 5px;
  padding-left: 10px;
}

.mode-container {
  margin: auto 0px auto auto;
}

.auto-container {
  margin: auto 0px auto auto;
}

.line label {
  position: relative;
  width: 60px;
  height: 25px;
  display: block;
  background: #d9d9d9;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.3),
    inset 0px -5px 15px rgba(255, 255, 255, 0.3);
}

.line label:after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background: #f2f2f2;
  border-radius: 100px;
  top: 0;
  left: 0;
  transition: 0.5s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

input:checked ~ label:after {
  left: 60px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.line input:checked ~ label {
  background: #242424;
}

.line input:checked + label + button {
  background: #242424 !important;
}

.line input {
  display: none;
}

/*Media CSS Style*/
@media only screen and (max-width: 850px) {
}
