body {
  background-color: #f9f5e9;
  width: 100%;
}

#navbar {
  background-color: unset;
}

h1 {
  padding: 6px;
  font-size: 28px;
}

h3 {
  padding: 0px;
  font-size: 17px;
  font-weight: 200;
  font-family: hywen;
}

a {
  text-decoration: none;
  color: black;
}

#navbar {
  box-shadow: none !important;
}

nav button:hover {
  background-color: rgba(260, 260, 260, 0.9);
}

#user-avar:hover {
  background: rgb(260, 260, 260, 0.9);
}

#user-avar {
  height: 40px;
  margin-top: 0.5vh;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

#user-avar h3 {
  color: rgb(105, 74, 54);
  font-weight: 600;
}

#sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 350px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  z-index: 2;
}

#mainbar {
  height: 100%;
  width: 100%;
  padding-left: 10px;
}
#search-page {
  width: 100%;
  height: 100%;
  position: relative;
}
#main-contai {
  width: 100%;
  height: 94vh;
  display: flex;
  position: absolute;
  top: 40px;
  flex-direction: row;
  padding: 0px 10px 10px 10px;
}

#school-detail {
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250);
  border-radius: 10px;
  z-index: 3;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
#iframedetail {
  width: 100%;
  height: 100%;
}
#contai-search {
  margin: 15px auto;
  padding-right: 20px;
  background-color: white;
  width: 85%;
  background-color: rgba(260, 260, 260);
  height: 40px;
  display: flex;
  border-radius: 25px;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

#pop-contai-search {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
  display: flex;
}

#pop-search {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 600px;
  height: fit-content;
  border-radius: 10px;
  background-color: rgba(250, 250, 250);
  z-index: 9998;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition-duration: 0.2s;
}
#pop-search.active {
  opacity: 1;
}
#search-in {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 18px;
  background-color: transparent;
  font-family: math;
  letter-spacing: 0.5px;
}

#search-in::placeholder {
  color: rgb(200, 200, 200);
}

#contai-search img {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 10px;
}

#pop-contai-search img {
  width: 20px;
  height: 20px;
  margin: 15px;
}

#location {
  border: none;
  background-color: rgb(240, 240, 240);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 10px;
  width: 110px;
  height: 40px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}

#location option {
  font-size: 15px;
  padding: 10px;
}

#search {
  border: none;
  background: none;
  width: 100px;
  height: 40px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  background-color: rgb(240, 240, 240);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: 7.5px;
}

h4 {
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 6.5px;
  font-size: 20px;
  color: white;
}

#main-pic {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100vw;
  height: auto;
  z-index: -1000;
}

input[type="text"]:focus {
  border: none;
  outline: none;
}

select:focus {
  border: none;
  outline: none;
}

.filter {
  appearance: none;
  border: none;
  background-color: white;
  border-radius: 20px;
  padding-left: 17%;
  width: 80px;
  height: 40px;
  margin: 10px;
  font-size: 15px;
}

#filter-list {
  width: fit-content;
  margin: auto;
}

#contai-list-sch {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2.5% 0 2.5% 2.5%;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgb(200, 200, 200);
}

#list-sch {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 15px;
  perspective: 100px;
}

.sch {
  color: black;
  display: flex;
  flex-direction: row;
  border: 2px solid transparent;
  background-color: rgba(250, 250, 250);
  border-radius: 15px;
  width: 97.5%;
  margin: 2px auto 10px 2px;
  height: 75px;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  animation: scroll linear;
  cursor: pointer;
}
.sch:hover {
  border: 2px solid rgb(130, 130, 130);
}

@keyframes scroll {
  0% {
    scale: 0.85;
    opacity: 0;
  }

  10% {
    scale: 1;
    opacity: 1;
  }

  90% {
    scale: 1;
    opacity: 1;
  }

  100% {
    scale: 0.85;
    opacity: 0;
  }
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 5px 5px 0;
}

.sch-contai-img {
  padding: 10px;
  height: 100%;
  object-fit: contain;
}

.sch img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.info h2 {
  font-weight: 600;
  width: 100%;
  font-size: 15px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: math;
}

.info h4 {
  font-size: 12px;
  font-family: monospace;
  font-weight: 1;
  background-color: beige;
  color: black;
  padding: 3px 6px;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.info h4::-webkit-scrollbar {
  width: 2px;
}

.info h4::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

#error-page {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  width: 80%;
}

#error-page .content {
  max-width: 600px;
  text-align: center;
}

.content h2.header {
  font-size: 18vw;
  line-height: 1em;
  position: relative;
}

.content h2.header:after {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  right: 0;
  background: -webkit-repeating-linear-gradient(
    -45deg,
    #71b7e6,
    #69a6ce,
    #b98acc,
    #ee8176,
    #b98acc,
    #69a6ce,
    #9b59b6
  );
  background-size: 400%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
  animation: animate 10s ease-in-out infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  25% {
    background-position: 100% 0;
  }

  50% {
    background-position: 100% 100%;
  }

  75% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.content h4 {
  display: block;
  font-size: 1.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: white;
  width: 100%;
  position: relative;
}

.content p {
  font-size: 1.2em;
  color: black;
  font-weight: 900;
}

.content .btns {
  margin: 25px 0;
  display: inline-flex;
}

.content .btns a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  border: 2px solid #69a6ce;
  color: black;
  font-weight: 900;
  padding: 10px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.content .btns a:hover {
  background: #69a6ce;
  color: #fff;
}

@media only screen and (max-width: 1100px) {
  #main-pic {
    width: 140vw;
  }
}

@media only screen and (max-width: 850px) {
  #main-contai {
    flex-direction: column-reverse;
    padding: 0 5px 5px 5px;
  }

  #sidebar {
    display: flex;
    flex-direction: row;
    flex-basis: 75px;
    width: 100%;
    padding: 0px;
  }
  #mainbar {
    padding: 0 0 5px 0;
  }

  #contai-search {
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 12.5px;
    border-radius: 50%;
  }

  #contai-search img {
    margin: auto;
    width: 50%;
    height: 50%;
  }

  #contai-list-sch {
    height: 75px;
    width: 1px;
    flex-grow: 5;
    padding: 0px;
  }

  #list-sch {
    height: 75px;
    width: unset;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 10px;
    padding: 0 0 0 5px;
  }

  .sch {
    height: 65px;
    margin: 5px 10px 0px 0px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 270px;
  }

  .sch-contai-img {
    padding: 5px;
  }

  .sch img {
    width: 50px;
    height: 50px;
  }

  #main-pic {
    width: 200vw;
  }

  .info h2 {
    font-size: 12px;
  }

  .info h4 {
    font-size: 11px;
  }

  .info-label label {
    font-size: 12px;
  }

  #pop-search {
    width: 525px;
  }
}

@media only screen and (max-width: 550px) {
  #main-pic {
    width: 250vw;
  }

  #pop-search {
    width: 90%;
  }
}

.hide {
  display: none !important;
}
