body {
  background-color: rgb(0, 0, 0);
  width: 100%;
}
#navbar {
  background-color: unset;
}
h1 {
  padding: 6px;
  font-size: 28px;
}

h3 {
  padding: 0px;
  font-size: 17px;
  font-weight: 200;
  font-family: hywen;
}

a {
  text-decoration: none;
  color: black;
}
#navbar {
  box-shadow: none !important;
}

#sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-bottom: 11vh;
  left: 0px;
  top: 6vh;
  width: 25%;
  height: 94vh;
  z-index: 2;
}
#school-detail {
  position: absolute;
  width: 74.5%;
  height: 92vh;
  right: 0.5%;
  top: 7vh;
  background-color: rgba(50, 50, 50);
  border-radius: 10px;
  z-index: 3;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
#contai-search {
  margin: 2vh auto;
  padding-right: 20px;
  background-color: white;
  width: 85%;
  background-color: rgba(100, 100, 100);
  height: 6vh;
  display: flex;
  border-radius: 100px;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
#pop-contai-search {
  width: 100%;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(30, 30, 30);
  display: flex;
}
#pop-search {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 600px;
  height: 400px;
  border-radius: 10px;
  background-color: black;
  z-index: 10000;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
#search-in {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 20px;
  background-color: transparent;
}
#search-pre {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 20px;
  background-color: transparent;
}

#contai-search img {
  width: 20px;
  height: 20px;
  margin: 10px;
}
#pop-contai-search img {
  width: 20px;
  height: 20px;
  margin: 15px;
}
#location {
  border: none;
  background-color: rgb(240, 240, 240);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 10px;
  width: 110px;
  height: 40px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}

#location option {
  font-size: 15px;
  padding: 10px;
}

#search {
  border: none;
  background: none;
  width: 100px;
  height: 40px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  background-color: rgb(240, 240, 240);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: 7.5px;
}

h4 {
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 6.5px;
  font-size: 20px;
  color: white;
}

#main-pic {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100vw;
  height: auto;
  z-index: -1000;
}

input[type="text"]:focus {
  border: none;
  outline: none;
}

select:focus {
  border: none;
  outline: none;
}

.filter {
  appearance: none;
  border: none;
  background-color: white;
  border-radius: 20px;
  padding-left: 17%;
  width: 80px;
  height: 40px;
  margin: 10px;
  font-size: 15px;
}

#filter-list {
  width: fit-content;
  margin: auto;
}
#contai-list-sch {
  background-color: rgba(260, 260, 260, 0.15);
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  height: 100%;
  width: 95%;
  margin: auto;
  border-radius: 20px;
}
#list-sch {
  margin: 0 auto;
  width: 95%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 15px;
}

.sch {
  color: white;
  display: flex;
  flex-direction: row;
  background-color: rgba(70, 70, 70);
  border-radius: 15px;
  width: 97.5%;
  margin: 2px auto 10px 2px;
  height: 75px;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.info-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}
.sch-contai-img {
  padding: 10px;
  height: 100%;
  object-fit: contain;
}
.sch img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.info h2 {
  font-weight: 200;
  width: 100%;
  font-size: 18px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.info-label {
  display: flex;
  flex-direction: row;
  height: 25px;
}

.info-label label {
  display: block;
  background-color: aqua;
  border-radius: 25px;
  padding: 2px;
  padding-right: 6px;
  padding-left: 6px;
  font-size: 17px;
  margin-right: 12px;
  width: fit-content;
  height: fit-content;
}
#error-page {
  position: absolute;
  top: 10%;
  left: 15%;
  right: 15%;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
#error-page .content {
  max-width: 600px;
  text-align: center;
}
.content h2.header {
  font-size: 18vw;
  line-height: 1em;
  position: relative;
}
.content h2.header:after {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  right: 0;
  background: -webkit-repeating-linear-gradient(
    -45deg,
    #71b7e6,
    #69a6ce,
    #b98acc,
    #ee8176,
    #b98acc,
    #69a6ce,
    #9b59b6
  );
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
  animation: animate 10s ease-in-out infinite;
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.content h4 {
  display: block;
  font-size: 1.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: white;
  font-size: 2em;
  max-width: 600px;
  position: relative;
}

.content p {
  font-size: 1.2em;
  color: black;
  font-weight: 900;
}

.content .btns {
  margin: 25px 0;
  display: inline-flex;
}

.content .btns a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  border: 2px solid #69a6ce;
  color: black;
  font-weight: 900;
  padding: 10px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.content .btns a:hover {
  background: #69a6ce;
  color: #fff;
}

@media only screen and (max-width: 1100px) {
  #main-pic {
    width: 140vw;
  }
}

@media only screen and (max-width: 850px) {
  #sidebar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    top: unset;
    bottom: 0px;
    padding: 0px;
    padding-right: 0.5%;
  }
  #school-detail {
    width: 99%;
    height: 83vh;
  }

  #contai-search {
    width: 50px;
    height: 50px;
    margin: auto 10px;
  }
  #contai-search img {
    margin: 15px;
  }
  #search-pre {
    display: none;
  }
  #contai-list-sch {
    margin: auto 0;
    height: 90%;
    width: 1px;
    padding: 3px;
    border-radius: 10px;
    flex-grow: 5;
  }
  #list-sch {
    height: 100%;
    width: unset;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 10px;
  }
  .sch {
    height: 90%;
    margin: 2px 10px auto 2px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 220px;
    border-radius: 10px;
  }
  .sch-contai-img {
    padding: 5px;
  }
  .sch img {
    width: 50px;
    height: 50px;
  }
  #main-pic {
    width: 200vw;
  }

  .info h2 {
    font-size: 16px;
  }

  .info-label label {
    font-size: 14px;
  }
  #pop-search {
    width: 525px;
    height: 350px;
  }
}

@media only screen and (max-width: 550px) {
  #main-pic {
    width: 250vw;
  }
  .sch {
    flex-basis: 200px;
  }
  #pop-search {
    width: 90%;
    height: 300px;
  }
}

.hide {
  display: none !important;
}
