.info-container {
  padding: 40px;
  color: white;
}


body {
  overflow-x: hidden;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 25px;

}
